<h1>Task: <%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Completed <input type="checkbox" name="completed" id="" <%= @task.completed ? "checked" :  "" %> disabled></p>
<%= link_to 'Edit task', edit_path, class: 'btn btn-primary' %>
<%= link_to 'Back to list', tasks_path, class: 'btn btn-primary'%>
